doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Pacman
    link(rel='stylesheet', href='./css/app.css')
  body
    h1 Pacman
    button Start

    table
      tbody#game
        for(var y = 0; y < 3; y++)
          tr
            for(var x = 0; x < 3; x++)
              td(data-position=[x,y])


    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/main.js')
